body {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 1% 5% 1%;
}

/* navbar */

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

/* Home */
.home {
  background-color: rgb(255, 205, 205);
  background-image: url(https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/gallary_photos/t1569912508_yCgO1tKWab.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 2.5%;
}

.nav-bg {
  background-color: rgb(0, 160, 232);
  background-image: linear-gradient(
    to right,
    rgb(0, 146, 223),
    rgb(0, 160, 232),
    rgb(175, 219, 244)
  );
  color: #fff;
}
.bitbazaar-intro {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  /* font-style: italic; */
  text-align: center;
  color: rgb(60, 9, 128);
  font-size: 1.75rem;
  line-height: 1.5;
  padding-left: 5%;
  padding-top: 7%;
}


.user_card {
  height: 100%;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: black;
  font-weight: 500;
}

.form_container {
  margin-top: 30%;
}
.login_btn {
  width: 100%;
  background: rgb(0, 146, 223) !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}


/* Contact us */
.carousel-img{
  width : 30% ;
  border-radius: 100%;
  margin: 30px;
}

.carousel-item{
  padding: 3% 15%;
}

.carousel-text h2{
  font-size: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#carouselExampleIndicators {
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(
    to right,
    rgb(0, 146, 223),
    rgb(0, 160, 232),
    rgb(175, 219, 244)
  );
}

.carousel-item p{
  padding-top: 5%;
}

/* Footer */

#footer {
  text-align: center;
  padding: 2%;
}

.social-icons {
  margin: 20px 10px;
}

.wishlist {
  text-align: center;
  padding: 2%;
  vertical-align: middle;
}