.buycardBG{
    background-image: linear-gradient(
        to right,
        rgb(0, 146, 223),
        rgb(0, 160, 232),
        rgb(175, 219, 244)
      );
}
.formtitle{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    
}
.formfield{
    font-family: sans-serif;
   font-weight: 500;
   font-size: 18px;
}