.regheading{
    text-decoration: underline;
}
.SellCardBG{
    background-image: linear-gradient(
    to right,
    rgb(0, 146, 223),
    rgb(0, 160, 232),
    rgb(175, 219, 244)
  );
  margin: 0px;
  padding-bottom: 30px;
}
.SellCard{
  border: 5px solid rgb(73, 72, 72);
  border-radius: 25px;
  padding: 65px;
  background-image: linear-gradient(to bottom right, rgb(243, 241, 248), rgb(191, 168, 235));
  width: 55%;
  margin: auto;
  

}
.sellcardsubmitdiv{
    text-align: center;
}
.sellcardsubmitbtn{
    background-color: white;
    border-radius: 6px;
    color: black;
    padding: 5px 10px 0px 10px;
    margin-top: 15px;
    font-weight: 500;
}
@media only screen and (max-width: 1000px) {
    .SellCard{
        width: 60%;
  }
}
@media only screen and (max-width: 800px) {
    .SellCard{
        width: 70%;
        padding: 45px;
  }
}
@media only screen and (max-width: 600px) {
    .SellCard{
        width: 85%;
        padding: 35px;
  }
}
@media only screen and (max-width: 400px) {
    .SellCard{
        width: 95%;
        padding: 15px;
  }
}